<ul id="slide-out" class="side-nav show" style="transform: translateX(0px);">
  <li>
      <div class="userView">
        <div class="background">
          <img width="300" src="https://dailypost.files.wordpress.com/2015/04/turnpike-blur.jpg">
        </div>
        <a href="#!user"><img class="circle" src="http://okdogi.com/wp-content/uploads/2016/04/Pigmentary-Keratitis-pada-anjing.jpg"></a>
        <a href="#!name"><span class="white-text name"><%=user.name%></span></a>
        <a href="#!email"><span class="white-text email"><%=user.email%></span></a>
    </div>
  </li>
    <li><a href="/mainmenu"><i class="material-icons">contacts</i>Welcome <%=user.role%></a></li>
    <li><div class="divider"></div></li>
    <%- helpers.roleMenu(user.role) %>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect" href="/logout">Logout</a></li>
    <ul class="collapsible collapsible-accordion">
  </ul>
</ul>