<% include ./partials/head %>
<body>
  <div class="row">
    <% include ./partials/menubar %>
  </div>
  <div class="row">
    <div class="col offset-s4">
        <%- include('./partials/PieCharts', {data: JSON.stringify(DataArray)}) %>
        <h5>Welcome <%=user.name%></h5>
        <div id="piechart" style="width: 900px; height: 500px;"></div>
    </div>
  </div>

  <% include ./partials/scriptMaterialize %>
</body>

<% include ./partials/footer %>


